.navbar {
  height: 60px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.navbar-left {
  width: 500px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 60%;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.navbar-right {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.buttons-a {
  width: 500px;
  display: flex;
  align-items: center;
}

.search-section {
  width: 400px;
}
.nav-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.avatar {
  background-color: white;
  color: #1877f2;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
